@media (min-width: 768px) {

  html {
    font-family: 'Roboto', sans-serif;

  }
  body {
    margin: auto 0;
    background-color: #F0F0F0;
  }
  
  select {
    display: inline-block;
    width: 100%;
  }

  /* input {
    border: 1px solid black !important
  } */

  .container-home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 50%; */
  }

  .logo-home {
    align-self: center;
    /* margin: auto; */
    width: 80%;
    /* padding-right: 10%; */
    /* margin-top: 3%; */
  }

  .btn-home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 5%;
  }

  .visitante-btn, .admin-btn {
    margin-right: 5%;
  }

  .visitante-img, .admin-img {
    width: 80%;
    margin-left: 15%;
    
  }

  /* REGISTER SECTION */
  .stepper-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }

  .stepper1-img {
    width: 50%;
  }

  .visitor-header {
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
  }

  .container-register {
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 12%;
    width: 586px;
    height: 840px;
    padding: 5%;
    
  }

  /* .container-form {
    width: 100%;
  } */

  .register-visitor {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    margin-bottom: 5%;
  }



  .row {
    align-items: center;
  }

  .plus-one {
    display: inline;
    margin-right: 5%;
    margin-left: 4%;
  }

  .plus-one-number {
    font-weight: bold;
    margin-left: 3%;
  }

  .sum-btn, .minus-btn {
    display: inline-block;
    width: 100%;
  }

  .sum-btn, .minus-btn {
    background-color: #FFD100;
    
  }

  .sum-btn:active{ 
    background-color: #000
  }

  .next-btn-home {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15%;
  }

  .next-home-btn {
    display: block;
    margin-top: 5%;
    width: 40%;
    background-color: black;
    
  }

/* PHOTO SECTION */

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width:768px;
  height:800px
}

.capture-btn {
  background-color: black;
  width: 40%;
  font-size: 20px;

}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.photo-canvas {
  width: 100%;
  height: 100%;
  margin-top: 30%;
}

.next-btn-photo {
  background-color: black;
  color: white;
  width: 40%;
  margin-top: 10%;
  margin-left: 30%;
  font-size: 28px;
  padding: 1%;
}

/* WELCOME SECTION */

.welcome-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10%;
  margin-left: 6%;
  margin-right: 6%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.sub-welcome-text {
  text-align: center;
  font-size: 24px;
  line-height: 5%;
  margin-bottom: 10%;
}

.canvas-profile {
  width: 100%;
  margin: 3%;
}

.info-content {
  text-align: center;
}

.user-info {
  font-size: 40px;
  font-weight: bold;
}

.company-info, .host-info {
  font-size: 20px;
}

.bg-card {
  background-color: #F0F0F0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 7px; */
}

.cardtitle {
  font-weight: bold;
  font-size: 25px;
}

.number-rules {
  font-weight: bold;
}

.center-content {
  text-align: center;
}

.rules-card {
  margin: 6%;
}

.profile-btn {
  background-color: black;
}

}
.switchBtn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
}
.switchBtn input {display:none;}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 8px;
  color: #fff;
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 78px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slide {
  background-color: #8CE196;
  padding-left: 40px;
}
input:focus + .slide {
  box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}
.slide.round {
  border-radius: 34px;
}
.slide.round:before {
  border-radius: 50%;
}