@media (min-width: 768px) {

  html {
    font-family: 'Roboto', sans-serif;

  }
  body {
    margin: auto 0;
    background-color: #F0F0F0;
  }
  
  select {
    display: inline-block;
    width: 100%;
  }

  /* input {
    border: 1px solid black !important
  } */

  .container-home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 50%; */
  }

  .logo-home {
    align-self: center;
    /* margin: auto; */
    width: 80%;
    /* padding-right: 10%; */
    /* margin-top: 3%; */
  }

  .btn-home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 5%;
  }

  .visitante-btn, .admin-btn {
    margin-right: 5%;
  }

  .visitante-img, .admin-img {
    width: 80%;
    margin-left: 15%;
    
  }

  /* REGISTER SECTION */
  .stepper-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
  }

  .stepper1-img {
    width: 50%;
  }

  .visitor-header {
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
  }

  .container-register {
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 3%;
    margin-left: 12%;
    width: 586px;
    height: 840px;
    padding: 5%;
    
  }

  /* .container-form {
    width: 100%;
  } */

  .register-visitor {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    margin-bottom: 5%;
  }



  .row {
    align-items: center;
  }

  .plus-one {
    display: inline;
    margin-right: 5%;
    margin-left: 4%;
  }

  .plus-one-number {
    font-weight: bold;
    margin-left: 3%;
  }

  .sum-btn, .minus-btn {
    display: inline-block;
    width: 100%;
  }

  .sum-btn, .minus-btn {
    background-color: #FFD100;
    
  }

  .sum-btn:active{ 
    background-color: #000
  }

  .next-btn-home {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15%;
  }

  .next-home-btn {
    display: block;
    margin-top: 5%;
    width: 40%;
    background-color: black;
    
  }



  

}
